.postBtn {
    margin-top: 30px;
    margin-bottom: 10px;
}

.titleInput {
    width: 70%;
    margin: 0 auto;
}

.noteInput {
    width: 90%;
    margin: 0 auto;
}

.clearBtn {
    cursor: pointer;
    color: gray;
}

.modalForm {
    padding: 20px 5px;
    height: 270px;
}

.textArea {
    max-height: 60px;
    overflow: auto !important;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}